<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs");%>
</head>
<body class="container">

    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <main>
        <div class="frame">
            <p>Select your query type and data category here.</p>
            <form>
                <p>Get Video Game</p>
                <input id="id" name="id" type="text" placeholder="Id">
                <input id="name" name="name" type="text" placeholder="name">
                <input id="genreId" name="genreId" type="text" placeholder="genreId">
                <input id="companyId" name="companyId" type="text" placeholder="companyId">
                <input id="desc" name="desc" type="text" placeholder="description">
                <br>
                <button>Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <%-include("./partials/footer.ejs");%>
    </footer>
</body>
</html>