<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs");%>
</head>
<body class="container">

    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <main>
        <div class="data-entry">
            <p>Enter your data.</p>
            <form>
                <label for="request-type">Query Type</label>
                <br>
                <select id="request-type" name="request-type">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PATCH">PATCH</option>
                    <option value="DELETE">DELETE</option>
                </select>
                <br><br>
                <label for="data-type">Data Category</label>
                <br>
                <select id="data-type" name="data-type">
                    <option value="company">Company</option>
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                </select>  
                <br><br>
                <button>Enter</button>
            </form>
        </div>
    </main>

    <footer>
        <%-include("./partials/footer.ejs");%>
    </footer>
</body>
</html>